@CHARSET "ISO-8859-1";

body
{
    background-image: url(../img/coffee.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
}

.panel-heading
{
    border-radius: 30px;
    background-color: bisque;
}

.my-body
{
	background-color: antiquewhite;
}

.panel
{
	box-shadow: 2px 2px 2px darkred;
    border-radius: 35px;
}

h3
{
	color:black;
}

.my-well
{
	box-shadow: 2px 2px 2px darkred;
    border-radius: 25px;
    background-color: bisque;
}

.my-link a
{
	text-decoration: none;
}

#list
{
	color: black;
}

#my-text-area:hover
{
	cursor: default !important;
}

#my-text-area
{
	width: 100%;
	background-color:antiquewhite;
}

.left-panel
{
	padding: 7% 5% 0% 15%
}

.right-panel
{
	padding: 7% 15% 0% 5%
}
